{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary fw-bold text-white">Games</div>
            <div class="card-body">
                {% if game_list %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 5%;">&nbsp;</th>
                            <th>Course</th>
                            <th>Status</th>
                            <th>Holes</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for game in game_list %}
                        <tr>
                            <td><a href="{% url 'home:game-detail' game.id %}" class="btn btn-primary btn-sm">View</a></td>
                            <td>{{game.course.name}}</td>
                            <td>{{game.get_status_display}}</td>
                            <td>{{game.get_holes_played}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="card-text">No Games Found</p>
                {% endif %}                
            </div>
            <div class="card-footer">
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#new-game-modal">Create Game</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="new-game-modal" tabindex="-1" aria-labelledby="new-game-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Create Game</h1>
                <button type="button" hx-get="." hx-target="body" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="new-game-form" hx-trigger="change from:#id_course" hx-include="#id_course" hx-get="{% url 'home:htmx-create-game-form-test' %}">
                {{form|crispy}}
            </div>
            <div class="modal-footer">
                <button type="button" hx-get="." hx-target="body" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="game-form">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
