{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-6 mb-3">
        <div class="card">
            <div class="card-header bg-primary fw-bold text-white">Game Detail</div>
            <div class="card-body">
                <table>
                    <tr>
                        <td class="text-end fw-bold">Course:</td>
                        <td class="ps-3">{{game_data.course.name}}</td>
                    </tr>
                    <tr>
                        <td class="text-end fw-bold">Status:</td>
                        <td class="ps-3">{{game_data.get_status_display}}</td>                        
                    </tr>
                    <tr>
                        <td class="text-end fw-bold">Holes:</td>
                        <td class="ps-3">{{game_data.get_holes_played}}</td>
                    </tr>
                    {% if game_data.status != "setup" %}
                    <tr>
                        <td class="text-end fw-bold">Date Started:</td>
                        <td class="ps-3">{{game_data.date_started}}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            {% if game_data.status == "setup" %}
            <div class="card-footer">
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#start-game-confirm-modal">Start Game</button>
            </div>
            {% elif game_data.status == "active" %}
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="{% url 'home:play-game' game_data.id first_hole_score.id %}">Score Game</a>
                <a class="btn btn-primary btn-sm" href="#">Finish Game</a>
            </div>
            {% endif %}
        </div>
        
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-primary fw-bold text-white">Players</div>
            <div class="card-body" id="game-player-list">
                {% include "home/game-player-table.html" %}
            </div>
            {% if game_data.status == "setup" %}
            <div class="card-footer">
                <button
                    hx-get="{% url 'home:htmx-create-player-form' game_data.id %}"
                    hx-target="#add-player-form" class="btn btn-primary btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#add-player-modal"
                >Add Player</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% if game_data.status != "setup" %}
<div class="row mt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary text-white fw-bold">Scores</div>
            <div class="card-body">
                {% if game_data.holes_played == "9" or game_data.holes_played == "front-9" %}
                <ul class="nav nav-tabs">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#front-9-panel">Front 9</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" aria-disabled="true" disabled>Back 9</button>
                    </li>
                </ul>
                {% elif game_data.holes_played == "back-9" %}
                <ul class="nav nav-tabs">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" aria-disabled="true" disabled>Front 9</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#back-9-panel">Back 9</button>
                    </li>
                </ul>
                {% elif game_data.holes_played == "18" %}
                <ul class="nav nav-tabs">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#front-9-panel">Front 9</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#back-9-panel">Back 9</button>
                    </li>
                </ul>
                {% endif %}
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade {% if active_tab == 'front' %}show active{% endif %}" id="front-9-panel" role="tabpanel" aria-labelledby="front-9-tab" tabindex="0">
                        <div class="table-resonsive-sm">
                            <table class="table table-striped-columns">
                                <thead class="text-center">
                                    <tr>
                                        {% for header_item in score_data.header.front %}
                                        {% if forloop.first %}
                                        <th class="text-end">{{header_item}}</th>
                                        {% else %}
                                        <th>{{header_item}}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    {% for score_row in score_data.rows.front %}
                                    <tr>
                                        {% for score_item in score_row %}
                                        {% if forloop.first %}
                                        <td class="text-end pe-3">{{score_item}}</td>
                                        {% else %}
                                        <td>{{score_item}}</td>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade {% if active_tab == 'back' %}show active{% endif %}" id="back-9-panel" role="tabpanel" aria-labelledby="back-9-tab" tabindex="0">
                        <div class="table-responsive-sm">
                            <table class="table table-striped-columns table-responsive-md">
                                <thead class="text-center">
                                    <tr>
                                        {% for header_item in score_data.header.back %}
                                        {% if forloop.first %}
                                        <th class="text-end">{{header_item}}</th>
                                        {% else %}
                                        <th>{{header_item}}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    {% for score_row in score_data.rows.back %}
                                    <tr>
                                        {% for score_item in score_row %}
                                        {% if forloop.first %}
                                        <td class="text-end pe-3">{{score_item}}</td>
                                        {% else %}
                                        <td>{{score_item}}</td>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'home:download-scorecard' game_data.id %}" class="btn btn-primary btn-sm">Download Scorecard</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="modal fade" id="add-player-modal" tabindex="-1" aria-labelledby="add-player-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="add-player-modal-label">Add Player to Game</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="add-player-form">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="add-player-to-game-form">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="start-game-confirm-modal" tabindex="-1" aria-labelledby="start-game-confirm-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="start-game-confirm-modal-label">Are you sure?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to start this game?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" hx-post="{% url 'home:start-game' game_data.id %}">Start Game</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
{% endblock %}
