{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-6" id="course-detail-card-wrapper">
        {% include "home/fragments/course-detail-panel.html" %}
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary fw-bold text-white">Holes</div>
            <div class="card-body">
                {% if obj.hole_set.all %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 5%">&nbsp;</th>
                            <th>Name</th>
                            <th>Par</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hole in obj.hole_set.all %}
                        <tr>
                            <td><a href="{% url 'home:hole-detail' hole.id %}" class="btn btn-primary btn-sm">View</a></td>
                            <td>{{hole.name}}</td>
                            <td>{{hole.par}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
