{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary fw-bold text-white">Game Detail</div>
            <div class="card-body">
                <p class="card-text">Course: {{game_data.course.name}}</p>
                <p class="card-text">Status: {{game_data.get_status_display}}</p>
                {% if game_data.status != "setup" %}
                <p class="card-text">Date Started: {{game_data.date_started}}</p>
                {% endif %}
            </div>
            {% if game_data.status == "setup" %}
            <div class="card-footer">
                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#start-game-confirm-modal">Start Game</button>
            </div>
            {% elif game_data.status == "active" %}
            <div class="card-footer">
                <a class="btn btn-primary btn-sm" href="{% url 'home:play-game' game_data.id first_hole.id %}">Score Game</a>
            </div>
            {% endif %}
        </div>
        
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary fw-bold text-white">Players</div>
            <div class="card-body" id="game-player-list">
                {% include "home/game-player-table.html" %}
            </div>
            {% if game_data.status == "setup" %}
            <div class="card-footer">
                <button hx-get="{% url 'home:htmx-create-player-form' game_data.id %}" hx-target="#add-player-form" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-player-modal">Add Player</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="add-player-modal" tabindex="-1" aria-labelledby="add-player-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="add-player-modal-label">Add Player to Game</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="add-player-form">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="add-player-to-game-form">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="start-game-confirm-modal" tabindex="-1" aria-labelledby="start-game-confirm-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="start-game-confirm-modal-label">Are you sure?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to start this game?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" hx-post=".">Start Game</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
<script>
 document.body.addEventListener('htmx:configRequest', (event) => {
     event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
 });
</script>
{% endblock %}
