{% extends "base.html" %}

{% block content %}
<h1>Golf Courses</h1>
{% if course_list %}
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 5%;">&nbsp;</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody class="align-middle">
    {% for course in course_list %}
    <tr>
        <td><a href="{% url 'home:golf-course-detail' course.id %}" class="btn btn-primary btn-sm">View</a></td>
        <td>{{course.name}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
<a class="btn btn-primary btn-sm" href="{% url 'home:golf-course-create' %}">Create Golf Course</a>
{% endblock %}
{% block page_scripts %}{% endblock %}
{% block page_styles %}{% endblock %}
