{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-header bg-primary fw-bold text-white">Golf Courses</div>
    <div class="card-body">
        
        {% if course_list %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 5%;">&nbsp;</th>
                    <th>Name</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                {% for course in course_list %}
                <tr>
                    <td><a href="{% url 'home:golf-course-detail' course.id %}" class="btn btn-primary btn-sm">View</a></td>
                    <td>{{course.name}}</td>
                    {% if course.city and course.state and course.zip_code %}
                    <td>{{course.city}}, {{course.state}} {{course.zip_code}}</td>
                    {% else %}
                    <td>Not Set</td>
                    {% endif %}                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    {% if request.user.is_authenticated %}
    <div class="card-footer">
        <button class="btn btn-primary btn-sm" hx-get="{% url 'home:htmx-create-course' 'create-course-form' %}" hx-target="#new-course-form" data-bs-toggle="modal" data-bs-target="#add-course-modal">Create Golf Course</button>
    </div>
    {% endif %}
</div>

<div class="modal fade" id="add-course-modal" tabindex="-1" aria-labelledby="add-course-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="add-course-modal-label">New Course</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="new-course-form">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="create-course-form">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
{% endblock %}
{% block page_styles %}{% endblock %}
