{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary fw-bold text-white">{{obj.name}}</div>
            <div class="card-body">
                <p class="card-text">Course: <a href="{% url 'home:golf-course-detail' course.id %}">{{course.name}}</a></p>
                {% include "home/par-info.html" %}
                <hr>
                <h3>Tees</h3>
                {% if tee_list %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Distance</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for tee in tee_list %}
                    <tr>
                        <td>{{tee.name}}</td>
                        <td>{{tee.distance}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="card-text">No Tees Found</p>
                {% endif %}
            </div>
            {% if request.user.is_authenticated %}
            <div class="card-footer">
                <button hx-get="{% url 'home:htmx-create-tee' course.id obj.id %}" hx-target="#new-tee-form" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-tee-modal">Add Tee</button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-primary fw-bold text-white">Locations</div>
            <div class="card-body">
                {% if location_list %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for loc_data in location_list %}
                        <tr>
                            <td><button class="btn btn-primary btn-sm update_location" data-loc-id="{{loc_data.id}}">View</a></td>
                            <td>{{loc_data.get_name_display}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p class="card-text">No locations found</p>
                {% endif %}
            </div>
            <div class="card-footer"><button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-location-modal">Add</button></div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-location-modal" tabindex="-1" aria-labelledby="add-location-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="add-location-modal-label">Add Location</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{location_form|crispy}}
                <div class="mb-3">
                    <button id="get-location-button" class="btn btn-primary btn-sm">Get Location</button>
                </div>
                <div id="location-status"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" id="add-location-confirm-button">Save</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="add-tee-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Tee</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="new-tee-form">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="create-tee-form">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-par-modal" tabindex="-1" aria-labelledby="update-par-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="update-par-modal-label">Update Par</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="update-par-value-form" hx-post="{% url 'home:update-par-for-hole' obj.id %}" hx-target="#par-info">
                    {{ par_form|crispy }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="update-par-value-form" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="update-location-modal" tabindex="-1" aria-labelledby="update-location-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Update Location</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Latitude</label>
                    <input type="text" class="form-control" id="update-latitude">
                </div>
                <div class="mb-3">
                    <label class="form-label">Longitude</label>
                    <input type="text" class="form-control" id="update-longitude">
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary btn-sm" id="update-location-button">Get Location</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" id="save-updated-location-button">Save Location</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
<script>
 const modal = new bootstrap.Modal(document.getElementById("update-par-modal"))
 const longInput = document.getElementById("id_longitude");
 const latInput = document.getElementById("id_latitude");
 const nameInput = document.getElementById("id_name");
 const holeId = "{{obj.id}}";
 const addLocationUrl = "{% url 'home:ajax-add-location' obj.id %}";
 const csrfToken = "{{csrf_token}}";
 let selectedLocation = null;
 const updateLocationModalEl = document.getElementById("update-location-modal");

 htmx.on("htmx:beforeSwap", (e) => {
     // Response targeting #par-info => hide the modal
     if (e.detail.target.id == "par-info") {
         modal.hide()
     }
 });


 const onLocationSuccess = (pos) => {
     console.log("Location Found");
     console.log(pos)

     longInput.value = pos.coords.longitude;
     latInput.value = pos.coords.latitude;
 }
 const onLocationError = () => {
     console.log("Location Error!")
 }

 const getUserLocation = async () => {
     const pos = await new Promise((resolve, reject) => {
         navigator.geolocation.getCurrentPosition(resolve, reject, {enableHighAccuracy: true, timeout: 5000});
     });

     return pos.coords;
 };

 document.querySelectorAll(".update_location").forEach((el) => {
     el.addEventListener("click", (event) => {
         selectedLocation = event.target.dataset.locId;
         console.log(selectedLocation);
         let modal = new bootstrap.Modal(updateLocationModalEl);
         modal.show();
     });
 });

 updateLocationModalEl.addEventListener("hide.bs.modal", (event) => {
     selectedLocation = null;
     document.getElementById("update-latitude").value = "";
     document.getElementById("update-longitude").value = "";
 });

 document.getElementById("update-location-button").addEventListener("click", async (event) => {
     const pos = await getUserLocation();
     document.getElementById("update-latitude").value = pos.latitude;
     document.getElementById("update-longitude").value = pos.longitude;
 });

 document.getElementById("save-updated-location-button").addEventListener("click", async (event) => {
     const lat = document.getElementById("update-latitude").value;
     const long = document.getElementById("update-longitude").value;
     const data = {
         latitude: lat,
         longitude: long,
         location_id: selectedLocation
     }

     const url = "{% url 'home:ajax-edit-location' %}";
     const res = await fetch(url, {
         method: "POST",
         headers: {"X-CSRFToken": csrfToken},
         body: JSON.stringify(data)
     });
     const jsonData = await res.json();
     if (jsonData.status == "success") {
         window.location.reload();
     }
 });

 document.getElementById("get-location-button").addEventListener("click", (event) => {
     if (!navigator.geolocation) {
         document.getElementById("location-status").textContent = "Location is not supported";
         return
     }
     const options = {
         enableHighAccuracy: true,
         timeout: 5000
     }
     navigator.geolocation.getCurrentPosition(onLocationSuccess, onLocationError, options);
 });

 document.getElementById("add-location-confirm-button").addEventListener("click", async (event) => {
     const data = {
         "name": nameInput.value,
         "longitude": longInput.value,
         "latitude": latInput.value,
     };

     const res = await fetch(addLocationUrl, {
         method: "POST",
         headers: {"X-CSRFToken": csrfToken},
         body: JSON.stringify(data)
     });

     const jsonData = await res.json();

     if (jsonData.status == "success") {
         longInput.value = "";
         latInput.value = "";
         nameInput.selectedIndex = 0;
         window.location.reload();
     } else {
         document.getElementById("location-status").textContent = jsonData.message;
 }
 });
</script>
{% endblock %}
