{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div id="map"></div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.core.js"
        crossorigin async
        data-callback="initMapKit"
        data-libraries="services,full-map,geojson,annotations"
        data-initial-token="eyJraWQiOiI5NzVYR1dHVFM1IiwidHlwIjoiSldUIiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiI4MktYNzhUTjI1IiwiaWF0IjoxNzE5MDA5MTgwLCJvcmlnaW4iOiIqLmpvc2hicmlnaHQuZGV2In0.Jv21WmuZnF4JF79eK_YfBB1NEvSyhn38A2eQDWj8Z2XLQXwCZ7RDPGsyRNoLurHHN1OP-D8y7S-mkXnqdUafLQ"
></script>

<script>
 async function getMapKitAsync() {
     if (!window.mapkit || window.mapkit.loadedLibraries.length === 0) {
         await new Promise(resolve => { window.initMapKit = resolve });
         delete window.initMapKit;
     }
     return window.mapkit;
 }

 document.addEventListener("DOMContentLoaded", async () => {
     const mapkit = await getMapKitAsync();
     const map = new mapkit.Map("map", {
         center: new mapkit.Coordinate(37.334883, -122.008977)
     });

     mapkit.addEventListener("load", event => {
         console.log("Load event fired");

         var people = [
             { title: "Juan Chavez",
               coordinate: new mapkit.Coordinate(37.3349, -122.0090201),
               role: "developer",
               building: "HQ" },
             { title: "Anne Johnson",
               coordinate: new mapkit.Coordinate(37.722319, -122.434979),
               role: "manager",
               building: "HQ" }
         ];


         var factory = function(coordinate, options) {
             var div = document.createElement("div"),
                 name = options.title,           // "Juan Chavez"
                 parts = name.split(' ');        // ["Chavez", "Juan"]
             div.textContent = parts[0].charAt(0) + parts[1].charAt(0);    // "JA"
             div.className = "circle-annotation";
             return div;
         };


         people.forEach(function(person) {
             var options = {
                 title: person.title,
                 data: { role: person.role, building: person.building }
             };
             var annotation = new mapkit.Annotation(person.coordinate, factory, options);
             map.addAnnotation(annotation);
         });
     });
 });
</script>
{% endblock %}
