{% extends "base.html" %}

{% block content %}
<div class="row" hx-boost="true">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-primary fw-bold text-white">Score Game: {{hole_data.name}}</div>
            <div class="card-body">
                <p class="card-text">Game: <a href="{% url 'home:game-detail' game_data.id %}">View</a></p>
                <p class="card-text">
                    <button class="btn btn-primary btn-sm" id="distance-button">Distance to Pin</button>
                    <a href="{% url 'home:map-view' game_data.id hole_data.id %}" class="btn btn-secondary btn-sm">Map View</a>
                </p>
                <p class="card-text d-none" id="distance-display"></p>
                <hr>
                <table class="table">
                    <tbody class="align-middle">
                        {% for hole in hole_scores %}
                        <tr>
                            <td>{{hole.game_link.player.name|truncatechars:8}}</td>
                            <td><button class="btn btn-primary btn-sm change-score-button" data-change-type="par" data-par-value="{{hole.current_par}}">Par</button></td>
                            <td>
                                <button class="btn btn-primary btn-sm change-score-button" data-change-type="subtract">-</button>
                                <span class="text-input">
                                    <input type="text" value="{{hole.score}}" name="score" size="1" hx-post="{% url 'home:score-hole' hole.id hole.game_link.id %}">
                                </span>
                                <button class="btn btn-primary btn-sm change-score-button" data-change-type="add">+</button>
                            </td>
                            <td><button class="btn btn-primary btn-sm max-score-button change-score-button" data-change-type="max" data-par-value="{{hole.current_par}}">Max</button></td>
                            <td>{{hole.game_link.get_total_score}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer d-flex justify-content-between">
                {% if prev_hole_score %}
                <a href="{% url 'home:play-game' game_data.id prev_hole_score.hole.id %}" class="btn btn-primary btn-sm">Prev Hole</a>
                {% else %}
                <button class="btn btn-primary btn-sm disabled">Prev Hole</button>
                {% endif %}

                <select class="form-select ms-2 me-2" id="hole-select">
                    {% for hole in hole_list %}
                    {% if hole.id == current_hole_pk %}
                    <option value="{{hole.id}}" selected>{{hole.name}}</option>
                    {% else %}
                    <option value="{{hole.id}}">{{hole.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                {% if next_hole_score %}
                <a href="{% url 'home:play-game' game_data.id next_hole_score.hole.id %}" class="btn btn-primary btn-sm">Next Hole</a>
                {% else %}
                <button class="btn btn-primary btn-sm disabled">Next Hole</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script>
 var gameId = "{{game_data.id}}";
 var holeId = "{{current_hole_pk}}";
 var locationUrl = "{% url 'home:ajax-get-location-to-tee' %}";

 function getParDataValue(eventTarget) {
     return parseInt(event.target.dataset.parValue, 10);
 };

 document.querySelectorAll(".change-score-button").forEach((el) => {
     el.addEventListener("click", (event) => {
         const changeType = event.target.dataset.changeType;
         const changeTarget = event.target.parentNode.parentNode.querySelector("input");
         const inputVal = parseInt(changeTarget.value, 10);
         let changed = false;

         if (changeType == "subtract") {
             if (inputVal == 0) {
                 return;
             }
             changeTarget.value = inputVal - 1;
             changed = true;
         } else if (changeType == "add") {
             changeTarget.value = inputVal + 1;
             changed = true;
         } else if (changeType == "par") {
             const parValue = getParDataValue(event.target);
             changeTarget.value = parValue;
             changed = true;
         } else if (changeType == "max") {
             const parValue = getParDataValue(event.target);
             changeTarget.value = parValue * 2;
             changed = true;
         }

         if (changed) {
             var evt = document.createEvent('HTMLEvents');
             evt.initEvent('change', false, true);
             changeTarget.dispatchEvent(evt);
         }
     })
 });

 document.querySelector("#hole-select").addEventListener("change", (event) => {
     let holeScoreId = event.target.value;

     let url = `/games/${gameId}/play/${holeScoreId}/`;
     window.location.href = url;
 });

 async function getUserLocation() {
     const pos = await new Promise((resolve, reject) => {
         navigator.geolocation.getCurrentPosition(resolve, reject, {enableHighAccuracy: true, timeout: 5000});
     });

     return pos.coords;
 };

 document.getElementById("distance-button").addEventListener("click", async (event) => {
     const modalEl = document.getElementById("distance-modal");
     const userLocation = await getUserLocation();

     const data = {"longitude": userLocation.longitude, "latitude": userLocation.latitude, "hole_pk": holeId};
     const res = await fetch(locationUrl, {
         body: JSON.stringify(data),
         method: "POST",
         headers: {"X-CSRFToken": "{{csrf_token}}"}
     });

     const jsonData = await res.json();
     const distanceEl = document.getElementById("distance-display");
     if (jsonData.status == "success") {
         distanceEl.textContent = `Yards: ${jsonData.yards}`;
         distanceEl.classList.remove("d-none");

         setTimeout(() => {
             distanceEl.textContent = "";
             distanceEl.classList.add("d-none");
         }, 5000);
     } else {
         distanceEl.textContent = `Error: ${jsonData.message}`;
     }
 })
</script>
{% endblock %}

{% block page_styles %}
<style>
 .text-input {
     position: relative;
     top: 2px;
 }

 .text-input input {
     text-align: center;
 }
</style>
{% endblock %}

